<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>
   <h1>Student Home</h1>
   <a href="addStudent"><input type="submit" value="Add student" /></a>
   <br><br>
   <a href="getStudent"><input type="submit" value="Get student" /></a>
   <br><br>
   <a href="getAll"><input type="submit" value="Get All student" /></a>
   <br><br>
   <a href="updateStudent"><input type="submit" value="Update student" /></a>
   <br><br>
   <a href="deleteStudent"><input type="submit" value="Delete student" /></a><br>

</body>
</html>