<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Student Details</title>
</head>
<body>
    <form action="update" method="post">
        <label>roll:</label>
         <input type="text" name="roll" placeholder="Enter roll" />
         <br />
        <label>name:</label>
        <input type="text" name="name" placeholder="Enter name" />
         <br />
        <label>branc:</label>
        <input type="text" name="branch" placeholder="Enter branch" />
         <br />
        <label>yop:</label>
        <input type="text" name="yop" placeholder="Enter yop" />
        <br/><br/>
        <input type="submit" value="update student" />
    </form>
</body>
</html>